.app-header {
    padding-block: 1em;
    background-color: var(--gray1);
    color: whitesmoke;
}

.app-header>* {
    align-items: center;
    grid-row: 1;
}

.app-header {

    .btn-logout {
        /* background-color: var(--bg1); */
        border: 1px solid var(--bg1);
        font-size: 1rem;
        font-weight: 900;
        margin-left: .5em;
    }

    .title {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
        justify-self: start;
        font-size: 1.5rem;
    }
}

.app-header nav {
    display: flex;
    gap: 1em;
    justify-self: end;

    .user {
        display: flex;
        align-items: center;
    }
}

.app-header nav a {
    transition: .4s;
    border-block-end: 1px solid transparent;
    text-decoration: none;
    font-weight: 800;
}

.app-header nav a:hover {
    scale: 1.1;
}

.app-header nav a.active {
    color: var(--bg2);
}