.bug-details {
    .title {
        font-size: 1.4rem;
        text-align: center;
    }

    p {
        margin: .1em 0;
    }
    
    .severity {
        margin: .5em 0;
    
        span {
            color: red;
        }
    }
    
    hr {
        margin: 1em 0;
        color: gray;
    }
}

