.bug-filter {
    background-color: var(--gray2);
    padding-inline: .8em;
    padding-block: .8em;
    padding-bottom: .4em;
}

.bug-filter h2 {
    font-size: 1em;
    text-align: center;
}

.bug-filter .filter-by {
    display: flex;
    align-items: center;
    /* gap: .4em; */
    padding: 0;
}

.sort-by {
    display: flex;
    align-items: center;
    gap: 2em;
}

.sort-field, .sort-dir {
    display: flex;
    align-items: center;
    gap: .43em;
}

.sort-by, .filter-by {
    border-block-end: 1px solid rgb(179, 179, 179);
    padding-block: .4em;
}

:is(.sort-by, .filter-by) button {
    margin-inline-start: auto;
    font-size: 0.7em;
    width: max-content;
}
