.login-page {
    text-align: center;

    .btns a {
        font-weight: 900;
        color: var(--bg3);
        font-size: .9rem;
    }
}

.login-page .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    gap: 1em;
    font-family: "Elms Sans", sans-serif;
    width: 50vw;
    margin: auto;
    margin-block: 100px 50px;

    input {
        font-weight: 900;
        border: 1px solid var(--bg3);
        border-radius: .2rem;
        padding: .6rem;
        font-size: 1rem;
    }

    button {
        color: black;
        background-color: transparent;
        font-weight: 900;
        transition: .4s;
        font-size: 1rem;

        &:hover {
            scale: 1.1;
        }
    }
}