.user-details {
    max-width: 900px;
    margin: auto;

    .title {
        margin-block-start: .5rem;
        margin-block-end: 1rem;
        text-align: center;
        font-size: 2em;
    }

    button {
        margin-block: 1rem;
    }
}