.user-msg {
    position: fixed;
    top: 1em;
    right: 1em;

    display: flex;
    align-items: center;
    gap: 1em;
    padding: .6rem;
    border-radius: .2em;
    
    font-size: .9em;
    font-weight: 900;
    background-color: #111;
    color: white;
}

.user-msg button {
    border-radius: 30%;
    line-height: 1.1;
}

.success {
    background-color: var(--success);
}

.danger {
    background-color: var(--danger);
}