:root {
    --bg1: rgb(44, 192, 222);
    --bg2: rgb(62, 188, 229);
    --bg3: rgb(191, 191, 191);
    
    --color1: aliceblue;
    --color2: lightblue;
    --color3: gold;
    --color4: goldenrod;
    
    --gray1: #444;
    --gray2: lightgray;
    
    --success: rgb(58, 190, 102);
    --danger: rgb(255, 0, 0);
}